a{
    /*링크 데코레이션 없애기*/
    text-decoration: none;
    color: black;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*창 크기를 줄이면 nav bar 메뉴들이 아래로 내려감*/
    background-color: var(--color-navbar);
    border-bottom: 1px solid;
    border-bottom-color: var(--color-line);
    font-size: 16px;
    padding: 18px 90px;
}

.menu_link{
    font-weight: bold;
    margin-left: 15px;  /*링크들 사이 간격*/
}